{% extends 'admin/admin.twig' %}
{% import "macro/forms.twig" as forms %}
{% block adminContent %}
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">
          #
        </th>
        <th scope="col">
          Titre
        </th>
        <th scope="col">
          Auteur
        </th>
        <th scope="col">
          Validé
        </th>
      </tr>
    </thead>
    <tbody>
      {% for p in adminPostList[0].post %}
        <tr>
          <th scope="row">
            {{ p.id }}
          </th>
          <td>
            <a class="cardOne" type="button" data-bs-toggle="modal" data-bs-target="#read{{ p.id }}">
              {{ p.title }}
            </a>
            <div class="modal fade " id="read{{ p.id }}" tabindex="-1" aria-hidden="true">
              {% include 'modal/postRead.twig' %}
            </div>
            <div class="modal fade " id="vue{{ p.id }}" tabindex="-1" aria-hidden="true">
              {% include 'modal/postModifModal.twig' %}
            </div>
          </td>
          <td>
            <a href="profil?id={{ p.id_user }}" form="post" target="_blank">
              {{ p.author }}
            </a>
          </td>
          <td>
            <div class="d-flex flex-wrap">
              <form action="postList?action=adminPostUpdate&id={{ p.id }}&key={{ p.valide }}" method="post">
                {{ forms.csrf }}
                <button type="submit" class="btn btn-success">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                  </svg>
                </button>
              </form>
              <form action="postListA?action=adminPostDelete&id={{ p.id }}" method="post">
                {{ forms.csrf }}
                <button onClick="return confirm('Etes vous sûr de vouloir supprimer ce message ?')" class="btn btn-danger" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endblock %}
  