{% extends 'layout.twig' %}
{% block head %}
    <title>
        Homepage
    </title>
{% endblock %}
{% block content %}
    <H1>
        HomePage
    </H1>
    {% if session.flash != null %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ session.flash }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if session.firstname != null %}
        <div class="container">
            {% if session.img == null %}
                <img
            class="me-2" src="uploads/anonyme.png" alt="{{ session.firstname }} {{ session.lastname }}" style="width:50px;" />
                {% else %}
                <img class="me-2" src="{{ session.img }}" alt="{{ session.firstname }} {{ session.lastname }}" style="width:50px;">
                {% endif %}
                <H2>
                    Bienvenue 
                    {{ session.firstname }}
                    Voici les derniers posts publié.
                </H2>
                <div class="row d-flex">
                {% for p in posts.posts|slice(0,3) %}
                    <div class="card m-5" style="width: 18rem;">
                {% include 'add/postOne.twig' %}
                <div class="modal fade " id="read{{ p.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    {% include 'modal/postRead.twig' %}
                </div>
                    <div class="modal fade " id="vue{{ p.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        {% include 'modal/postModifModal.twig' %}
                    </div>
                {% for c in count %}
                    {% if p.id == c.0 %}
                        {{ c.1 }}
                        Commentaire(s).
   
                    {% endif %}
                {% endfor %}
                
            </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
    
