<h1>MES POSTS</h1>

<h2>Envoi d'un post sur le blog</h2>

<form action="posts?action=postsSend" method="post">

    <div>
        <label for="title">Title</label></br>
        <input type="text" id="title" name="title" />
    </div>

    <div>
        <label for="texte">texte</label></br>
        <textarea id="texte" name="texte"></textarea>
    </div>
    <div>
        <input type="submit"/>
    </div>

    {% for p in posts %}

    <li>{{ p.id }} - {{ p.title }}</li></br>
    {{ p.txt }}</br>
    {{ p.addDate }}
    </form>
    <form action="posts?action=postsDelete" value="{{ p.id }}" method="post">
        <div>
            <input type="submit" value="Delete"/>
        </div>

    {% endfor %}


</form>