{% extends 'layout.twig' %}
{% import "macro/forms.twig" as forms %}
{% block head %}
    {% for p in postsRead %}
        <title>
            {{ p.title }}
        </title>
    {% endfor %}
{% endblock %}
{% block content %}
    
        {% for p in postsRead %}
            <div class="card">
            <div class="card-body text-white bg-secondary">
                <H1 class="card-title">
                {{ p.title }}
                 </H1>
                 {% if p.imgP != null%}
                    <img src="{{ p.imgP }}" class="card-img-top text-center" alt=" {{ p.title }}" style="max-width: 250px;">
                  {% endif %}
                <p class="card-text text-center">{{ p.content }}</p>
            <div class="card-footer text-end">
              <span>  De {{ p.author }} Le {{ p.addDate }} </span>
            </div>
            </div>
            </div>
            <div class="text-center">
            <form action="postsAddComment?action=commentSend&id={{ p.id }}" method="post">
        {{ forms.textarea('Commenter', 'comment', null, 2, 45) }}<button type="submit" class="btn btn-primary">
        
            Valider
                                                                            
        </button>
    </form>
    </div>
       
    
    <div class="card">
        {% for c in commentsRead %}
            <div class="card-body">
                {{ c.content }}
            
            
            </div>
            <div class="card-footer text-end">
                <span> {{ c.addDate }}</span>
                {% if session.admin == '1' or session.idUs == c.id_user %}
                    <div class="modal-footer">
                            <form action="postsDelete?key={{ p.id }}&action=commentDelete&id={{ c.id }}" method="post">
                                <button onClick="return confirm('Etes vous sûr de vouloir supprimer ce message ?')" class="btn btn-primary btn-danger" type="submit">
                                    Delete                                                          
                                                            
                                </form>
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#vue{{ c.id }}" data-bs-dismiss="modal">
                                Modification                  
                                                    
                            </button>
                        
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endfor %}
{% endblock %}
