{% extends 'layout.twig'%}
    {% import "macro/forms.twig" as forms %}

    {% block content %}
        page Profil
        <div class="card">

        {% for u in user %}

            {% include 'add/profile.twig' %}
                <div>
                    <form action="email?action=sendEmail&id={{u.id}}" method="post">
                       <div class="d-none">
                        {{ forms.input('Email', 'email_to', u.email, 'email')}}</br>
                       {{ forms.input('Votre Email', 'email_from', session.logged_user, 'email')}}</br>
                       </div>
                       {{ forms.input("Object du Message", 'object', null, 'text')}}</br>
                       
                       {{ forms.textarea('Votre Message', 'body', null, 5,60) }}</br>
                       <button type="submit" class="btn btn-primary">Envoyer</button>

                    </form>
                </div>


        {% endfor %}

        </div>
    {% endblock %}
    