{% extends 'layout.twig'%}
    {% import "macro/forms.twig" as forms %}
    
    
    
    {% block head %}
    <title>Mon Profile</title>
    {% endblock %}


    {% block content %}
        <form action="user?action=userUpdate" method="post" enctype="multipart/form-data">
        <div class="row mb-4">
            <h2>Votre Profile</h2>
            Mon ID us: {{ session.idUs }}</br>
            Mon ID co: {{ session.idCo }}</br>
            Mon Image: <img src="{{ session.img }}" />
            {{ forms.input('Votre avatar', 'picture',  null, 'file') }}
        </div>
        <div class="mb-4">

            {{ forms.input('Votre Prénom', 'firstname',   session.firstname , 'texte') }}</br>
            {{ forms.input('Votre Nom', 'lastname',  session.lastname , 'texte') }}
        </div>
        <div class="mb-4">
            {{ forms.textarea('Votre Citation', 'citation',  session.citation, 5, 60) }}
        </div>
        <button action=""> envoyer </button>
        </form>
    {% endblock %}