{% extends 'admin.twig' %}
  {% import "macro/forms.twig" as forms %}
    {% block adminContent %}

            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Administrateur</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for u in userList.users %}
                  <tr>
                    <th scope="row">{{ u.id }}</th>
                    <td>
                      {% if u.picture != null %}
                      <img src="{{ u.picture }}" alt="{{ u.lastName }}" style="width:50px;">
                      {% endif %}
                      </td>
                    <td>{{ u.firstName }}</td>
                    <td>{{ u.lastName }}</td>
                    <td>
                      {% if u.admin == 1 %} Oui {% else %} Non {% endif %}</td>
                    <td>{% if session.idUs != u.id %}<form action="userListValid?action=adminUserUpdate&id={{ u.id }}&key={{u.admin}}" method="post"> {% if u.admin == 1 %}  
                      {{ forms.csrf }}
                      <button type="submit" class="btn btn-danger">
                    No Admin </button>{% else %}  <button type="submit" class="btn btn-success">
                        Admin          
                    </button>{% endif %}</form>{% endif %}</td>
                    <td>
                      {% if session.idCo != u.idCo %}
                 <form action="commentList?action=adminUserDelete&id={{ u.idCo }}" method="post">
                  {{ forms.csrf }}
                  <button onClick="return confirm('Etes vous sûr de vouloir supprimer cette utilisateur ?')" type="submit" class="btn btn-danger">
                    Supprimer          
                </button></form></td>
                      {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
       

    {% endblock %}