{% extends 'layout.twig'%}
    {% import "macro/forms.twig" as forms %}
    
    
    
    {% block head %}
    <title>Mon Profile</title>
    {% endblock %}


    {% block content %}
        <form action="user?action=userSend" method="post" enctype="multipart/form-data">
        <div class="row mb-4">
            <h2>Votre Profile</h2>
            Mon ID : {{ session.id }}
            {{ forms.input('Votre avatar', 'picture',  null, 'file') }}
        </div>
        <div class="mb-4">

            {{ forms.input('Votre Prénom', 'firstname',  null, 'texte') }}</br>
            {{ forms.input('Votre Nom', 'lastname',  null, 'texte') }}
        </div>
        <div class="mb-4">
            {{ forms.textarea('Votre Citation', 'citation',  null, 5, 60) }}
        </div>
        <button action=""> envoyer </button>
        </form>
    {% endblock %}