<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            Home
          </a>
        </li>
        {% if session.logged_user != null and session.lastname != null and session.firstname != null and session.lastname != null %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="posts">
              Posts
            </a>
          </li>
        {% endif %}
      </ul>
      <ul>
        <li class="nav-item">
          {% if session.logged_user == null %}
            <a class="btn btn-primary" data-bs-toggle="modal" href="#login" role="button">
              Connection / Creation
            </a>
          {% else %}
            <li class="nav-item dropdown ">
              <button class="btn btn-dark dropdown-toggle  " data-bs-toggle="dropdown" aria-expanded="false">
                {% if session.firstname == null %}
                  {{ session.idUs}} Anonyme
                {% else %}
                  {% if session.img == null %}
                    <img class="me-2" src="uploads/anonyme.png" alt="{{ session.firstname }} {{ session.lastname }}" style="width:50px;"/>
                  {% else %}
                    <img class="me-2" src="{{ session.img }}" alt="{{ session.firstname }} {{ session.lastname }}" style="width:50px;">
                  {% endif %}
                {{ session.firstname }} {{ session.lastname }}
                {% endif %}
                {% if session.admin == '1' %}
                  <span>Administrateur</span>
                {% endif %}
                </button>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                  <li>
                    <a class="nav-link active" aria-current="page" href="user">
                      Mon Profil
                    </a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="nav-link active" href="?action=logout">
                      Deconnection
                    </a>
                  </li>
              </ul>
            </li>           
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
