<div class="card-body" data-bs-toggle="modal" data-bs-target="#read{{ p.id }}" style="cursor:pointer;">
    <h4>
        {{ p.title }}
    </h4>
</br>
<div class="text-truncate">
{{ p.content }}
</div></br>
{% if p.img == null %}
    <img class="me-2" src="uploads/anonyme.png" alt="{{ p.firstname }} {{ p.lastname }}" style="width:50px;"/>
  {% else %}
    <img class="me-2" src="{{ p.img}}" alt="{{ p.firstname }} {{ p.lastname }}" style="width:50px;">
  {% endif %}
{{ p.firstname }}{{ p.lastname }}</br>{{ p.updDate|date("m/d/Y H:i:s" , "Europe/Paris") }}
</div>