<form action="post?id={{ p.id }}" method="post">
<div type="button" data-bs-toggle="modal" data-bs-target="#read{{ p.id }}" style="cursor:pointer;">
  <h4 class="card-title">
    {{ p.title }}
</h4>
<div class="card-body">
  
  {% if p.img == null %}
    <img class="me-2 img-onePost" src="uploads/profile/anonyme.png" alt="{{ p.author }}"/>
  {% else %}
    <img class="me-2 img-onePost" src="{{ p.img}}" alt="{{ p.author }}" >
  {% endif %}
  {{ p.author }}<br/>
  {{ p.addDate|date("d/m/Y H:i:s" , "Europe/Paris") }}
    </div>
    {% if p.imgP != null%}
      <img src="{{ p.imgP }}" class="card-img-top" alt=" {{ p.title }}">
    {% endif %}

</br>
<div class="text-truncate">
{{ p.chapo }}
</div></br>

</br>
</div>
</form>
<form action="postRead?id={{ p.id }}" method="post">
<button class="btn btn-primary">Voir le post</button>
</form>