{% macro input(title, name, value, type) %}

<label for="{{ name }}"> {{ title }}</label>

<input type="{{ type }}" name="{{ name }}" value="{{ value }}">

{% endmacro %}

{% macro textarea(title, name, value, rows, cols) %}
    <label for="{{ name }}"> {{ title }}</label>

    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">{{value}}</textarea>
    
{% endmacro %}