{% macro input(title, name, value, type) %}

<label for="{{ name }}"> {{ title }}</label></br>

<input type="{{ type }}" name="{{ name }}" value="{{ value }}">

{% endmacro %}

{% macro login(title, name, value, type) %}

    <label for="{{ name }}"> {{ title }}</label></br>
    
    <input type="{{ type }}" required name="{{ name }}" value="{{ value }}">
    
    {% endmacro %}

{% macro password(title, name, value, type, min, pattern) %}

    <label for="{{ name }}"> {{ title }}</label></br>
    
    <input type="{{ type }}" name="{{ name }}" required value="{{ value }}" min="{{ min }}" pattern="{{ pattern }}">
    
    {% endmacro %}

{% macro textarea(title, name, value, rows, cols) %}
    <label for="{{ name }}"> {{ title }}</label></br>

    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">{{value}}</textarea>
    
{% endmacro %}

{% macro csrf() %}

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

{% endmacro %}

{% macro social(title, name, value, type) %}

    <label for="{{ name }}"> {{ title }}</label></br>
    
    <input type="{{ type }}" name="{{ name }}" value="{{ value|default('https://') }}">
    
    {% endmacro %}
    