{% import "macro/forms.twig" as forms %}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <div>
                {% if p.img == null %}
                    <img
                class="me-2" src="uploads/anonyme.png" alt="{{ p.firstname }} {{ p.lastname }}" style="width:50px;" />
                    {% else %}
                    <img class="me-2" src="{{ p.img }}" alt="{{ p.firstname }} {{ p.lastname }}" style="width:50px;">
                    {% endif %}
                    <span>
                        De: 
                                                                                        
                                                                    
                                                
                        <strong>
                            {{ p.author }}
                        </strong>
                    </span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-title ps-3">
                <h2>
                    {{ p.title }}
                </h2>
            </div>
            <div class="modal-body">
                {% if p.imgP != null%}
                    <img src="{{ p.imgP }}" class="card-img-top" alt=" {{ p.title }}">
                {% endif %}
                <div>
                    {{ p.content }}
                </div>
                <div class="pt-5">
                    Créer le 
                                                                                                            
                                                                            
                                                        
                                        
                    {{ p.addDate|date("d/m/Y H:i:s" , "Europe/Paris") }}
                </div>
                <div class="font-italic">
                    {% if p.addDate != p.updDate %}
                        Modifié le 
                                                                                                                            
                                                                                        
                                                                    
                                                
                        {{ p.updDate|date("d/m/Y H:i:s" , "Europe/Paris") }}
                    {% endif %}
                </div>
            </div>
            {% if session.admin == '1' or session.idUs == p.id_user %}
            <div class="modal-footer">
                    <form action="posts?action=postsDelete&id={{ p.id }}" method="post">
                        <button onClick="return confirm('Etes vous sûr de vouloir supprimer ce message ?')" class="btn btn-primary btn-danger" type="submit">
                            Delete                                                          
                                                    
                        </form>
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#vue{{ p.id }}" data-bs-dismiss="modal">
                        Modification   
                                                                                                 
                                                                                            
                                                                
                                            
                    </button>
                
            </div>
        {% endif %}
            <div class="modal-footer">
               
                </div>
        </div>
    </div>
    