{% import "macro/forms.twig" as forms %}
<div class="modal fade " id="createPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action="postsCreate?action=postsSend" method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    {{ forms.input('Votre titre', 'title', null, 'texte') }}
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ forms.textarea('Votre résumé', 'chapo', null, 5, 30) }}</br>
                    {{ forms.textarea('Votre texte', 'content', null, 5, 60) }}
                    Fichier joint: {{ forms.input('Fichier joint', 'picture',  null, 'file') }}
                </div>
                <div></div>
                <div class="modal-footer">
                    {{ forms.input('Auteur', 'author', null, 'texte') }}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Annuler
                                            
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Valider
                                            
                    </button>
                    
                </div>
            </div>
        </div>
        </form>
</div>
