{% import "macro/forms.twig" as forms %}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="card-header">
            <h4 class="card-title">
                {{ p.title }}
            </h4>
        </div>
        <div class="card-body">
            {% if p.imgP != null %}
                <img src="{{ p.imgP }}" class="card-img-top m-2" alt=" {{ p.title }}">
                {% endif %}
                <div>
                    {{ p.content }}
                </div>
            </div>
            <div class="modal-footer justify-content-end">
                {% if session.admin == '1' or session.idUs == p.id_user %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#vue{{ p.id }}" data-bs-dismiss="modal">
                        Modification   
                                                
                    </button>
                    <form action="postDelete?action=postDelete&id={{ p.id }}" method="post">
                        {{ forms.csrf }}
                        <button onClick="return confirm('Etes vous sûr de vouloir supprimer ce message ?')" class="btn btn-primary btn-danger" type="submit">
                            Delete                                                          
                                                                                    
                                                        
                        </form>
                    </button>
                {% endif %}
                <small class="text-muted">
                    de : 
                                    
                                  
                    {% if p.img == null %}
                        <img
                    class="me-2 img-onePost" src="uploads/profile/anonyme.png" alt="{{ p.author }}" />
                        {% else %}
                        <img class="me-2 img-onePost" src="{{ p.img }}" alt="{{ p.author }}">
                        {% endif %}
                        <cite title="Auteur">
                            <a href="profil?id={{ p.id_user }}" form="post" target="_blank">
                                {{ p.author }}
                            </a>
                        </cite>
                        <br/>
                        {% if p.addDate != p.updDate %}
                            Modifié le 
                        </br>
                        {{ p.updDate|date("d/m/Y H:i:s" , "Europe/Paris") }}
                    {% else %}
                        Crée le 
                    </br>
                    {{ p.addDate|date("d/m/Y H:i:s" , "Europe/Paris") }}
                </br>
            {% endif %}
        </small>
    </div>
</div></div>
