<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <div>
                {% if p.img == null %}
                    <img
                class="me-2" src="uploads/anonyme.png" alt="{{ p.firstname }} {{ p.lastname }}" style="width:50px;" />
                    {% else %}
                    <img class="me-2" src="{{ p.img }}" alt="{{ p.firstname }} {{ p.lastname }}" style="width:50px;">
                    {% endif %}
                    <span>
                        De: 
                                                                
                                            
                        <strong>
                            {{ p.author }}

                        </strong>
                    </span>
                </div>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-title ps-3">
                    <h2>
                        {{ p.title }}
                    </h2>
                    
                </div>
            <div class="modal-body">
                <div>
                    {{ p.content }}
                </div>
                <div class="pt-5">
                    Créer le 
                                                                                        
                                                        
                                    
                    {{ p.addDate|date("d/m/Y H:i:s" , "Europe/Paris") }}
                </div>
                <div class="font-italic">
                    {% if p.addDate != p.updDate %}
                        
                        Modifié le 
                                                                                                    
                                                                
                                            
                        {{ p.updDate|date("d/m/Y H:i:s" , "Europe/Paris") }}
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close 
                                                                                        
                                                        
                                
                </button>
                {% if p.admin == 1 or session.idUs == p.id_user %}
                    <form action="posts?action=postsDelete&id={{ p.id }}" method="post">
                        <button onClick="return confirm('Etes vous sûr de vouloir supprimer ce message ?')" class="btn btn-primary btn-danger" type="submit">
                            Delete             
                                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                            
                                                                                                                                                                                             
                                                                                                                                                                
                                                                                                    
                                                                                                                        
                                                                                
                                                
                        </form>
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#vue{{ p.id }}" data-bs-dismiss="modal">
                        Modification   
                                                                         
                                                                    
                                        
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    